* {
    padding: 0.5rem 0.5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background: url(./materials/planBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.parentContainer {
    display: flex;
    flex-direction: column;
}

.leftContainer {
    flex-direction: column;
    width: 22%;
    height: 100%;
}

.nav {
    display: flex;
    justify-content: start;
    align-items: start;
}
.nav button{
    background: none;
    color: #24766C;
    border: none;
    font-size: 1.3rem;
    font-weight: 300;
    opacity: 0.4;
    transition: 0.6s ease;
}

.nav button:hover {
    cursor: pointer;
    opacity: 1;
    transition: 0.6s ease;
}

.midparentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    flex-direction: column;
}
.uppertextContainer h3{
    font-family: 'Bebas Neue', sans-serif;
    color: white;
}

.midContainer{
    display: flex;
    background-color: #34504c38;
    width: 80%;
    padding: 2rem 2rem;
    justify-content: space-between;
    border-radius: 15rem;
}

.midleftContainer,
.midrightContainer {
    width: 45%;
    display: flex;
    flex-direction: column;
    transition: 2s ease;
}

.leftText,
.rightText{
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    margin-left: 6rem;
    margin-top: 1rem;
    opacity: 0;
    transition: 2.3s ease;
}

.leftText.visible,
.rightText.visible {
    opacity: 1;
}

.leftText button, .rightText button{margin-top: 2rem; border: none; border-radius: 1rem; background-color: #24766C; color: white; transition: 1s ease; font-size: 1.5rem;}
.leftText button:hover, .rightText button:hover{cursor: pointer; font-size: 2.5rem; border-radius: 2rem; transition: 1s ease;}

.midleftContainer img,
.midrightContainer img {
    width: 100%;
    border-radius: 15rem;
    transition: 2s ease;
}

.midleftContainer img.hidden,
.midrightContainer img.hidden {
    opacity: 0;
}

.midleftContainer:hover,
.midrightContainer:hover{
    transition: 2.3s ease;
    cursor: pointer;
}

